body {
    min-height: 100vh;
    max-width: 400px;
    background-color: papayawhip; 
    margin: 0 auto;
}

.mytxt {
	padding: 70px;

	font: 15px Arial, sans-serif;
}

.mytxt2 {
	font: 15px Arial, sans-serif;
}
