body {
    min-height: 100vh;
    max-width: 400px;
    background-color: papayawhip; 
    margin: 0 auto;
}

.mytxt {
	padding: 70px;

	font: 15px Arial, sans-serif;
}

.mytxt2 {
	font: 15px Arial, sans-serif;
}

.mytxt3{
	font: 15px Arial, sans-serif;
	color: white;
	background-image: url(images/highland.jpg);
	padding: 10px;
}

.mytxt4{
	font: 15px Arial, sans-serif;
	color: white;
	background-image: url(images/Gaskell.jpg);
	padding: 10px;
}
